html {
	font-size: 16px;
	font-family: 'Inter';
}


html, body {
  -webkit-text-size-adjust: 100%; /* или 'none' для полного отключения */
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}


body {
  overflow-x: hidden;
}

:root {
  --app-scale: 1; /* default */
}

/* применяем к корневому контейнеру Nuxt */
#__nuxt {
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform: scale(var(--app-scale));
  -webkit-transform: scale(var(--app-scale));

  width: calc(100% / var(--app-scale));
  height: calc(100% / var(--app-scale));






  /* при необходимости избежать скролла по оси X */
/*  overflow-x: hidden;*/
}
html, body {
	height: 100%;
}